{% load static %}
{% load compress %}

{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'bingo/plader.scss' %}" media="screen">
{% endcompress %}

<head>
    <meta charset="utf-8">
    <title>Gen | BitBingo 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href={% static 'bingo/fav.png' %}>
</head>
<body>
    <div>
        <h1>BitBingoV2 - Ticket Generator</h1>
        <p>Generate a PDF file of <i>n</i> bingo tickets:</p>
        <fieldset>
            <legend>Options</legend>
            <form action="/bingo/api/tickets/" method="get">
                <label for="count">Number of tickets:</label>
                <input type="number" name="count" value="9" min="1">
                <input type="submit" value="Gib me, I neeeeed it, I waaaant it, pretty please 🤤">
            </form>
        </fieldset>
        <p>*There are 4 tickets pr page</p>
        <p>Back to <a href="/bingo/">BitBingoV2</a></p>
    </div>
    <script src="{% static 'bingo/plader.js' %}"></script>
</body>
</html>