$page-background: #e0e0e0;

$ball-default-text: #ffffffc5;
$ball-default-border: #7e21cac5;
$ball-default-bg: #6147d4c5;
$ball-off-text: #ffffff;
$ball-off-border: #b95a07;
$ball-off-bg: #f07306;
$ball-on-text: #ffffff;
$ball-on-border: #c6aa5c;
$ball-on-bg: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
             radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
$ball-size: 60px;

$grid-size-width: 10;
$grid-size-height: 9;

$action-border: 5px solid #ffffff;

$weird-button: #ca5510;
$boobies: #b00b1e;

$disabledbutton: #cccccc;
$disabledborder: #999999;
$disabledtext: #666666;

$settings-background: #999999;
$settings-inner-background: #cccccc;
$settings-border: 1px solid #666666;

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: $page-background;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // Ensure the body takes at least the full viewport height
    margin: 0;
}

.page-container {
    display: grid;
    grid-template-areas: 
        "header header header header header"
        "table  table  element element element";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;

}

.header span {
    color: $boobies;
}

.header form {
    display: inline;
}

.header form input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background: none; 
    border: none; 
    margin: 0;
    padding: 0;
    color: $weird-button;
    cursor: pointer;
}

.bingo-ball-container {
    grid-area: table;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-ball-grid {
    display: grid;
    grid-template-columns: repeat($grid-size-width, $ball-size);
    grid-template-rows: repeat($grid-size-height, $ball-size);
    gap: 10px; // Adjust the gap between circles as needed
}

.bingo-ball {
    width: $ball-size;
    height: $ball-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $ball-default-bg;
    color: $ball-default-text;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid $ball-default-border;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.off {
    background: $ball-off-bg;
    border: 2px solid $ball-off-border;
    color: $ball-off-text;
}

.on {
    background: $ball-on-bg;
    border: 2px solid $ball-on-border;
    color: $ball-on-text;
}

.action-container {
    grid-area: element;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; // Fill the available height
    width: 100%; // Fill the available width
    border: $action-border;
    border-radius: 25px;
    background-color: white;
}

.image-container {
    position: relative;
    width: 100%;
    flex-grow: 1; // Make the image container grow to fill available space
    margin-bottom: 10px;
    overflow: hidden; // Add overflow hidden to crop the image
    display: flex;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers and is cropped to fit the container
    border-radius: 25px;
  }

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-container {
    width: 100%;
    text-align: center;
}

.button-container button {
    padding: 5px 5px;
    width: 100%;
    border-radius: 25px;
    font-size: 2.5em;
    background: $ball-off-bg;
    border: 2px solid $ball-off-border;
    color: $ball-default-text;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container form {
    margin: 0;
}

.button-container button:hover {
    background: $ball-on-bg;
    border: 2px solid $ball-on-border;
}

.button-container button:active {
    background: $ball-default-bg;
    border: 2px solid $ball-default-border;
}

.button-container button:disabled {
    background: $disabledbutton;
    border: 2px solid $disabledborder;
    color: $disabledtext;
    cursor: not-allowed;
}

.button-container button:disabled:hover {
    background: $disabledbutton;
    border: 2px solid $disabledborder;
}

.settings-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    background-color: $settings-background;
    border: 1px solid $settings-border;
    z-index: 9999;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        "time easeing"
}

.settings-container p {
    margin: 0;
    padding: 5px;
    text-align: center;
    background-color: $settings-inner-background;
    border: 1px solid $settings-border;
}

.settime-container {
    grid-area: time;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settime-container input[type="number"] {
    width: 70px;
    font-size: .75em;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    background-color: $settings-inner-background;
    border: 1px solid $settings-border;
}

.seteasing-container {
    grid-area: easeing;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seteasing-container select {
    font-size: .75em;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    background-color: $settings-inner-background;
    border: 1px solid $settings-border;
}
